// Place all the styles related to the shorten_urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	height: 100%;
}

.body-block {
	background: #2c3e50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	float: left;
	width: 100%;
	padding: 50px 0;
}

.container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.2);
}

.title-section {
	padding: 50px 30px;
	position: relative;
}

.title-section h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: #2c3e50;
}

.title-section h2:after {
	content: " ";
	width: 150px;
	height: 5px;
	background: #bdc3c7;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto
}

.loader {
	width: 50px;
	height: 20px;
	display: none;
}

.btn-generate {
	background: #2c3e50;
	color: #fff;
	font-weight: 600;
}

.banner-text {
	width: 70%;
	position: absolute;
	bottom: 40px;
	padding-left: 20px;
}

.banner-text h2 {
	color: #fff;
	font-weight: 600;
}

.banner-text h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: #fff;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
}

.banner-text p {
	color: #fff;
}

.banner-section {
	// background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
	// background-size: cover;
	min-height: 500px;
	border-radius: 0 10px 10px 0;
	padding: 0;
}

.carousel-inner {
	border-radius: 0 10px 10px 0;
}

.carousel-caption {
	text-align: left;
	left: 5%;
}